{% extends 'index.html'%}
{% load static %}
{% load widget_tweaks %}
{% block title %} User Login {% endblock %}

{% block content %}


<section id="home" class="services ">
    <div class="container bg-white shadow p-3 py-5">
        <div class="form w-100 pb-2">
          <h4 class="display-3 mb-5 text-center"> User Login </h4>

          <form method="POST" action="#" class="row">
            {% csrf_token %}
  
            <div class="col-lg-6 col-md mb-3">
              {% render_field form.username class="form-control" placeholder="Username" %}
              <label for="password" class="form-label">Enter Password</label>
            </div>
  
              <div class="form-floating mb-3">
                {% render_field form.password class="form-control"%}
                
            </div>
        
            
            <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
              <hr class=""my-4>

              <small class="text-muted"> Don't have anaccount? <a href="{% url 'register'%}">Sign Up</a></small>
          </form>

        </div>
      </div>

</section>



{% endblock %}