{% extends 'index.html'%}
{% load static %}
{% block title %} Your Digital Experts {% endblock %}

{% block content %}

<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-white">
      <div class="col-md-6 intro">
        <h1 class="display-2">
          <span class="display-2--intro">
            Inhloso Yetfu Digital
          </span>
          <span class="display-2--description lh-base">
            We help small and medium sized businesses to begin and improve their journey of digital transformation in order to improve operational effiency and the overall customer experience.
          </span>
        </h1>
        <a type="button" href="{% url 'contact-us'%}" class="btn rounded-pill btn-rounded"> Contact Us
          <span><i class="fas fa-arrow-right"></i></span>
        </a>
      </div>

      <!-- ILLUSTRATION START -->
      <div class="col-md-6 intro">
        <div class="video-box">
          <img src="{% static 'images/intro-1.png' %}" alt="video illustration" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CLASS TEST -->

<section id="classes">
  <div class="row text-center mt-3 title">
    <h4 class="fw-bold lead mb-1">Choose Us</h4>
  </div>
  <div class="row text-center sub-title">
    <h2>Why Inhloso Yetfu Digital</h2>
  </div>
  
  <div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          <h2> Custom Software </h2>
          <h3 class="text-dark"> Custom Software </h3>
          <p> We always tailor our service offerings to make sure they fit the unique business needs
            of each client. </p>
          <a class="blue btn" href="{% url 'contact-us' %}"> Contact Us </a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2> Data Centric </h2>
          <h3 class="text-dark"> Data Centric </h3>
          <p> Our data-based services are there to help our clients optimise their operations and achieve
            their
            business goals through a keen focus on the collection, organisation and analysis of data. </p>
          <a class="blue btn" href="{% url 'contact-us' %}"> Contact Us </a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2> Innovative Thinking </h2>
          <h3 class="text-dark"> Innovative Thinking </h3>
          <p> We are always looking for new and more innovative methods to help assist our clients. </p>
          <a class="blue btn" href="{% url 'contact-us' %}"> Contact Us </a>
        </div>
      </div>
    </div>





  </div>
</section>

<!-- START WHY INHLOSO YETFU SECTION -->


<!-- <section id="why-choose-us" class="why-choose-us">
  <div class="container">
    <div class="row text-center">
      <h4 class="fw-bold lead mb-1">Choose Us</h4>
      <h2 class="fw-bold lead mb-3">Why Inhloso Yetfu Digital</h2>
      <div class="mb-5"></div>
    </div>
    <div class="row text-center">
      <h2 class="mb-3">Why Inhloso Yetfu Digital</h2>
      <div class="mb-3"></div>
    </div>
    <div class="card-group text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <i class="fa-solid fa-bullseye"></i> Custom Software</h5>
          <p class="card-text"> We always tailor our service offerings to make sure they fit unique business and needs
            of each client.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <i class="fa-solid fa-magnifying-glass-chart"></i> Data Centric</h5>
          <p class="card-text"> Our data services are there to help our clients optimise their operations and obtain
            their
            goals through a keen focus on the collection, organisation and analysis of data.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <i class="fa-solid fa-pen-nib"></i> Innovative Thinking </h5>
          <p class="card-text"> We are always looking for new and more innovative methods to help assist our clients.
          </p>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto py-5">
      <a href="{% url 'services'%}" class="btn btn-primary" type="button"> For More Info </a>
      <a href="{% url 'contact-us' %}" class="btn btn-primary" type="button"> Contact Us </a>
    </div>

  </div>
</section> -->

<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-white">
      <div class="col-md-6 intro">
        <h1 class="display-2">
          <span class="display-2--intro">
            Inhloso Yetfu Digital
          </span>
          <span class="display-2--description lh-base">
            We help small and medium sized businesses to begin and improve their journey of digital transformation in order to improve operational effiency and the overall customer experience.
          </span>
        </h1>
        <a type="button" href="{% url 'contact-us'%}" class="btn rounded-pill btn-rounded"> Contact Us
          <span><i class="fas fa-arrow-right"></i></span>
        </a>
      </div>

      <!-- ILLUSTRATION START -->
      <div class="col-md-6 intro">
        <div class="video-box">
          <img src="{% static 'images/intro-3.png' %}" alt="video illustration" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- START OUR SERVICES SECTION -->
<section id="intro-services" class="intro-services">
  <div class="container">
    <div class="row text-center mt-5">
      <h1 class="display-3 fw-bold text-capitalize"> Our Services </h1>
      <div class="heading-line"></div>
      <p>
        Let us help your business harness the power of digital.
        Discover our services, from custom software development and data analytics to business intelligence.
      </p>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card-service">
          <img src="{% static 'images/services/web-development-1.png' %}" class="card-img-top" alt="Service 1">
          <div class="card-body">
            <h5 class="card-title">Software Development Services </h5>
            <p class="card-text"> We are dedicated to developing exceptional web applications and custom business software for our clients. </p>  

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-service">
          <img src="{% static 'images/services/data-analytics-1.png' %}" class="card-img-top" alt="Service 2">
          <div class="card-body">
            <h5 class="card-title"> Data Services </h5>
            <p class="card-text"> Helping you gain a deeper insigt into your business and customers' behaviour.

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-service">
          <img src="{% static 'images/services/business-intelligence-1.png' %}" class="card-img-top" alt="Service 3">
          <div class="card-body">
            <h5 class="card-title"> Business Intelligence </h5>
            <p class="card-text"> Helping you gain a deeper insigt into your business and customers' behaviour. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto py-5">
      <a href="{% url 'services'%}" class="btn btn-primary" type="button"> For More Info </a>
      <a href="{% url 'contact-us' %}" class="btn btn-primary" type="button"> Contact Us </a>
    </div>

  </div>
</section>

{% endblock %}