{% extends 'index.html'%}
{% load static %}
{% block title %} {{post.title}} {% endblock %}

{% block content %}

<section id="blog-container">
    <div class="blogs blogpost">
        <div class="post">
            <img src="{% static 'images/services/web-dev-2.jpg' %}" alt="Blog Image">
            <h3>{{ post.title }}</h3>
            <p>
                {{post.content|linebreaks }}
            </p>
            <a class="blue" href="#"> Read Next </a>
            <a class="blue" href="{% url 'edit-article' post.pk %}"> Update Post </a>
        </div>
    </div>
</section>


{% endblock %} 


