{% extends 'index.html'%}
{% load static %}
{% block title %} Blog {% endblock %}

{% block content %}

<section id="blog">
    <div class="background-image">
        <img src="{% static 'images/services/web-dev-1.jpg' %}" alt="Background Image">
    
        <div class="container">
            <h1>About Us</h1>
    
    
    </div>
</div>
</section>

</section>

<section id="blog-container">
    <div class="blogs">
        <div class="post">
            <img src="{% static 'images/services/web-dev-2.jpg' %}" alt="">
            <h3> Website Development for Small Businesses</h3>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Recusandae voluptas suscipit ab nulla sapiente iste natus odit exercitationem, consectetur, cum rem iure expedita,
                repellendus nobis ipsa quos officia laudantium nisi totam soluta! Provident, laudantium at?</p>
        
            <a class="blue" href="#"> Read More </a>
        
        </div>
        <div class="post">
            <img src="{% static 'images/services/web-dev-2.jpg' %}" alt="">
            <h3> Website Development for Small Businesses</h3>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Recusandae voluptas suscipit ab nulla sapiente iste natus odit exercitationem, consectetur, cum rem iure expedita,
                repellendus nobis ipsa quos officia laudantium nisi totam soluta! Provident, laudantium at?</p>
        
            <a class="blue" href="#"> Read More </a>
        
        </div>
        <div class="post">
            <img src="{% static 'images/services/web-dev-2.jpg' %}" alt="">
            <h3> Website Development for Small Businesses</h3>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Recusandae voluptas suscipit ab nulla sapiente iste natus odit exercitationem, consectetur, cum rem iure expedita,
                repellendus nobis ipsa quos officia laudantium nisi totam soluta! Provident, laudantium at?</p>
        
            <a class="blue" href="#"> Read More </a>
        
        </div>
        
    </div>
    <div class="cate">
        <h2> Categories </h2>
        <hr>
        <a href="#"> Small Businesses </a>
        <hr>
        <a href="#"> Digital Transformation </a>
        <hr>
        <a href="#"> Data Analytics </a>
        <hr>
        <a href="#"> Digital Marketing </a>
        <hr>
        <a href="#"> Medium Sized Businesses </a>
        <hr>
    </div>
</section>




{% endblock %}