{% extends 'index.html'%}
{% load static %}
{% block title %} Blog {% endblock %}

{% block content%}

</head>
<body>
<div class="hero">
    <!-- <nav>
        <a href="index.html"> <img src="images/Logo White.png" alt="Logo" class="logo">
        </a> 
        
        <a href="contact-us.html" class="blog-btn"> Get in touch </a>
    </nav> -->



    <div class="content">
        <h1>Our Blog is <span> Coming Soon </span></h1>
        <form action="mail.php" method="post">
            <input type="email" name="" id="" placeholder="Email">
            <!-- <input type="email" placeholder="Email Address"> -->
            <button type="submit" class="blog-btn">Subscribe</button>
        </form>
    </div>

    <div class="links">
        <a href="https://www.facebook.com/profile.php?id=100065315447462"><i class="fa-brands fa-facebook fa-5x"></i></a>
          <a href="https://www.linkedin.com/company/inhloso-yetfu"><i class="fab fa-linkedin fa-5x"></i></a>
          <a href="https://www.instagram.com/inhlosoyetfu/"><i class="fab fa-instagram fa-5x"></i></a>
    </div>
</div>

{% endblock %}